In [2]:
# ANS.1


import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
# ANS.2


import pandas as pd

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

my_series = pd.Series(my_list)

print(my_series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

In [7]:
# ANS.3

import pandas as pd

data = {
    "name":["alice","bob","claire"],
    "age": [25,30,27],
    "gender":["female","male","female"]
}

data1 = pd.DataFrame(data)
print(data1)

     name  age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

In [8]:
# ANS.4

# In Pandas, a DataFrame is a two-dimensional labeled data structure consisting of rows and columns.
# It is similar to a spreadsheet or a SQL table. Each column in a DataFrame is a Pandas Series object.
# The main difference between a Series and a DataFrame is that a Series represents a single column of data, 
# while a DataFrame can hold multiple columns of data.

# here is an example

import pandas as pd

# create a dictionary with data
data = {'Name': ['John', 'Mike', 'Sarah', 'Anna'],
        'Age': [25, 30, 27, 29],
        'City': ['New York', 'Paris', 'London', 'Sydney']}

# create a dataframe from dictionary
df = pd.DataFrame(data)

# display the dataframe
print(df)

    Name  Age      City
0   John   25  New York
1   Mike   30     Paris
2  Sarah   27    London
3   Anna   29    Sydney

In [12]:
# ANS.5

# There are many functions available in Pandas for manipulating data in a DataFrame. Here are some common ones:

# head(n): returns the first n rows of the DataFrame
# tail(n): returns the last n rows of the DataFrame


import pandas as pd

# create a dictionary of data
data = {'name': ['John', 'Alice', 'Bob', 'Mary', 'David', 'Sarah'],
        'age': [30, 25, 35, 27, 23, 29],
        'city': ['New York', 'Paris', 'London', 'Berlin', 'Sydney', 'Tokyo']}

# create a Pandas dataframe
df = pd.DataFrame(data)

# show the first 3 rows of the dataframe
print(df.head(3))

    name  age      city
0   John   30  New York
1  Alice   25     Paris
2    Bob   35    London

In [ ]:
# ANS.6

# In pandas, both Series and DataFrame are mutable, which means you can modify their values after they have been created.
# However, Panel has been deprecated since version 0.25.0 and has been replaced by the multi-dimensional DataFrame.

In [ ]:
#  ANS.7


import pandas as pd

# Create three series
s1 = pd.Series([10, 20, 30, 40], name='')
s2 = pd.Series(['apple', 'banana', 'cherry', 'date'], name='B')
s3 = pd.Series([True, False, True, False], name='C')

# Concatenate the series to create a DataFrame
df = pd.concat([s1, s2, s3], axis=1)

# Print the DataFrame
print(df)